[workspace]
resolver = "2"
members = [
  "cli",
  "exe/no_std",
  "exe/rust",
  "exe/zip",
  "web/glue",
  "win32/derive",
  "win32/extract",
]

[workspace.dependencies]
log = "0.4"
memory = { path = "memory" }
win32 = { path = "win32" }
x86 = { path = "x86" }
tsify = "0.4.1"
# Must match version of wasm-bindgen-cli, with version pinned in CI.
wasm-bindgen = "=0.2.93"

[profile.release]
debug = true

[profile.lto]
inherits = "release"
debug = false
lto = true
